<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>
    <script type="text/javascript" src='./static/script.js'></script>

    <nav class="nav">
        <a class="item-nav" href="/">Inicio</a>
        <a class="item-nav" href="/logs">Logs</a>
    </nav>

    <form id="form">
            <div class="container_calc">
                <div class="elementar">
                    <header id="header">
                        <h1>Calculadora elementar</h1>
                    </header>

                    <span class="txt">Digite os numeros:</span><br>
                    <input class="input-elementar" type="number" size="2" id="n1" placeholder="Elemento"><br>

                    <div id="ops">
                        <input class="input-elementar-op" type="button" value="+" onClick="calc(this)">
                        <input class="input-elementar-op" type="button" value="-" onClick="calc(this)">
                        <input class="input-elementar-op" type="button" value="*" onClick="calc(this)">
                        <input class="input-elementar-op"  type="button" value="/" onClick="calc(this)">
                    </div>

                    <input class="input-elementar" type="number" size="2" id="n2" placeholder="Elemento"><br><br>
                    <br><br>

                    <div>
                        <input class="input-elementar" id="result" type="number" disabled/>
                    </div>

                    <input class="input-elementar-op" type="button" value="Limpar" onClick="limpar()" />
                </div>

                <div class="transcendental">
                    <header id="header">
                        <h1>Calculadora transcendental</h1>
                    </header>
                    <header id="header">
                        <h3 class="txt">sen(x^2) * (x+10)</h3><br>
                    </header>

                    <span class="txt">Digite o valor de x:</span><br>
                    <input class="input-elementar" type="number" id="valX" placeholder="Valor de x">

                    <input class="input-elementar-op"  type="button" value="Calcular" onClick="transcendental()"/>

                    <div> 
                        <input class="input-elementar" id="result-transcendental" type="text" disabled value=""/>
                    </div>

                    <input class="input-elementar-op" type="button" value="Limpar" onClick="limparT()" />
                </div>
            </div>
    </form>
</body>

</html>