<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <link rel="stylesheet" href="./static/styles.css">
    <style>

    </style>
</head>

<body>
    <script type="text/javascript" src="./static/script.js"></script>
    <header>
        <nav class="nav">
            <a class="item-nav" href="/">Inicio</a>
            <a class="item-nav" href="logs">Logs</a>
        </nav>
    </header>


    <table class="table">
        <tbody>
            <tr>
                <th>Data</th>
                <th>Tipo</th>
                <th>Operação</th>
                <th>Argumentos</th>
            </tr>
        </tbody>
        <tr class="item-tab">
            <td>Thu Sep 09 2021 18:36:30 GMT-0300</td>
            <td>Elementar</td>
            <td>Adição</td>
            <td>1 + 5</td>
        </tr>
        <tr class="item-tab">
            <td>Thu Sep 09 2021 18:36:30 GMT-0300</td>
            <td>Elementar</td>
            <td>Adição</td>
            <td>1 + 5</td>
        </tr>
    </table>
</body>

</html>