<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <link rel="stylesheet" href="./static/styles.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <script type="text/javascript" src="./static/script.js"></script>
    <header>
        <nav class="nav">
            <a class="item-nav" href="/">Inicio</a>
            <a class="item-nav" href="logs">Logs</a>
        </nav>
    </header>


    <table class="table">
        <tbody>
            <tr>
                <th>Data</th>
                <th>Tipo</th>
                <th>Operação</th>
                <th>Argumentos</th>
            </tr>
        </tbody>
    </table>
</body>

</html>