<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <link rel="stylesheet" href="./static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body onload="addData()">
    <script type="text/javascript" src="./static/script.js"></script>
    <header>
        <nav class="nav">
            <a class="item-nav" href="/">Inicio</a>
            <a class="item-nav" href="logs">Logs</a>
        </nav>
    </header>


    <table class="table" id="table-logs">
        <thead>
            <tr>
                <th>
                    <input type="date" class="input-elementar" id="date_op_sel">
                </th>
                <th>
                    <select class="input-fil" id="type_op_sel" name="type_op_sel">
                        <option value="1">Elementar</option>
                        <option value="2">Seno</option>
                        <option value="3">Transcendental</option>
                    </select>
                </th>
                <th>

                </th>
                <th>
                    <input type="button" value="Filtrar" class="input-fil" onclick="filterData()">
                    <input type="button" value="Limpar Filtros" class="input-fil" onclick="addData()">
                </th>
            </tr>
            <tr>
                <th>Data</th>
                <th>Tipo</th>
                <th>Operação</th>
                <th>Argumentos</th>
            </tr>
        </thead>
        <tbody id="value-table">
        </tbody>
    </table>
</body>

</html>